PORT=3000
HOST=0.0.0.0
JWT_SECRET=change_this_to_a_long_random_secret
ADMIN_USER=josue_dev
ADMIN_PASSWORD_HASH=$2a$12$LeUcq5pHRwaABPd18SdrfO8Zzf1gvj8PihbR751chG8fxosycUvjC
BASE_URL=https://josue-hc-developer.abrdns.com
ALLOWED_ORIGINS=https://josue-hc-developer.abrdns.com
SITE_PORT_START=4100
SITE_PORT_END=4999
SESSION_TTL=12h
